
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="page-wrapper">
<div class="main-page signup-page">
    <h2 class="title1">Registrese aqui</h2>
    <div class="sign-up-row widget-shadow">
        <h5>Informacion Personal :</h5>
        <form>
            <div class="sign-u">
                <input type="text" id="Cedula" placeholder="Cedula" >
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input type="text" id="Nombres"  placeholder="Nombres" >
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input type="text" id="Apellidos" placeholder="Apellidos" >
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input type="text" id="Correo" placeholder="Correo Electronico" >
                <div class="clearfix"> </div>
            </div>

            <div class="sign-u">
                <input type="text" id="Telefono" placeholder="Telefono" >
                <div class="clearfix"> </div>
            </div>
            <h6>Informacion de sesion :</h6>
            <div class="sign-u">
                <input type="password" id="Contraseña" placeholder="Contraseña" >
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input type="password" placeholder="Confirmar Contraseña" >
            </div>
            <div class="clearfix"> </div>
            <div class="text-center">
                <input type="button" id="bregistro" class="btn btn-primary" onclick="return Add()" value="Enviar">
                <div class="clearfix"> </div>
            </div>
            <div class="registration">
                Ya estas registrado.
                <a class="">
                    @Html.ActionLink("Inicia sesion", "Login", "Login")
                </a>
            </div>
        </form>
    </div>
</div>

</div>