
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page login-page ">
        <h2 class="title1">Iniciar sesion</h2>
        <div class="widget-shadow">
            <div class="login-body">
                <form>
                    <input type="email" class="user" name="email" placeholder="Ingresa tu correo" required="">
                    <input type="password" name="password" class="lock" placeholder="Contraseña" required="">
                    <div class="forgot-grid">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Recordar Contraseña</label>
                        <div class="forgot">
                            <a>@Html.ActionLink("olvidaste contraseña?","Recuperarcontraseña")</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="Iniciar">
                    <div class="registration">
                        No estas registrado ? Crea una cuenta
                        <a class="">
                             @Html.ActionLink("aqui","Registrarse")
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>