
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="page-wrapper">
    <div class="main-page login-page ">
        <h2 class="title1">Iniciar sesion</h2>
        <div class="widget-shadow">
            <div class="login-body">
                <form>
                    <input type="email" id="l_identificacion" class="user"  placeholder="Identificacion" >
                    <input type="password" id="l_contraseña"  class="lock" placeholder="Contraseña" >
                    <div class="forgot-grid">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Recordar Contraseña</label>
                        <div class="forgot">
                            <a>@Html.ActionLink("olvidaste contraseña?","Recuperar","Paciente")</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="text-center">
                        <input type="button" id="blogin" class="btn btn-warning btn-lg" onclick="return Login()" value="Iniciar sesion">
                    </div>
                    <div class="registration">
                        No estas registrado ? Crea una cuenta
                        <a class="">
                             @Html.ActionLink("aqui","Registro","Paciente")
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>